.container{
    background-color: aqua;
 
    text-align: center;
}
.icon-bar {
  width: 100%;
  background-color:#555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  text-decoration: none;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
a{
    text-decoration: none;
}
.btn{
    border: olive;
}

.alert-error{
  color:red;

}

.alert-success_msg{
  color:green;
}